{% extends 'base.html' %}
{% block content %}

<div class="container">
    <table id="releaseTable" class="table table-striped tablesorter">
        <caption>Released {{ results['query_date'] }}</caption>
        <thead>
            <tr>
                <th>Duty Station</th>
                <th>Symbol</th>
                <th>Previous Releases</th>
                <th>As of {{results['query_date']}}</th>
                <th>Future Releases</th>
                <th>Known UNDL IDs</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results['metadata_objects'] %}
            <tr>
                <td>
                    {{result.metadata.dutyStation}}
                </td>
                <td>
                    <a href="{{deploy_context}}symbol?symbol={{result.symbol}}">{{result.symbol}}</a>
                </td>
                <td>
                    {{result.has_older|sort|join("/")}}
                </td>
                <td>
                    {{result.has_current|sort|join("/")}}
                </td>
                <td>
                    {{result.has_newer|sort|join("/")}}
                </td>
                <td>
                {% if result.undl_link %}
                    <a href="{{result.undl_link}}" target="_new">{{result.undl_link}}</a>
                {% else %}
                    {{result.undl_link}}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}