{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row m-2">
        <form class="form-inline" id="filterForm">
            <label for="filter">Filter these results: </label>
            <input class="form-control m-2" type="text" id="filter" name="filter">
            <span id="caption" class="mr-2">Symbols with files released {{ results['query_date'] }}{{results['date_range']}} ({{results['metadata_objects']|length}}); </span>
            <span id="message">As filtered: {{results['metadata_objects']|length}}</span>
        </form>
    </div>
    <table id="releaseTable" class="table table-striped tablesorter">
        <thead>
            <tr>
                <th>Duty Station</th>
                <th>Symbol</th>
                <th>Previous Releases</th>
                <th>As of {{results['query_date']}}</th>
                <th>Future Releases</th>
                <th>Known UNDL IDs</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results['metadata_objects'] %}
            <tr>
                <td>
                    {{result.metadata.dutyStation}}
                </td>
                <td>
                    <a href="{{deploy_context}}symbol?symbol={{result.symbol}}">{{result.symbol}}</a>
                </td>
                <td>
                    {{result.has_older|sort|join("/")}}
                </td>
                <td>
                    {{result.has_current|sort|join("/")}}
                </td>
                <td>
                    {{result.has_newer|sort|join("/")}}
                </td>
                <td>
                {% if result.undl_link %}
                    <a href="{{result.undl_link}}" target="_new">{{result.undl_link}}</a>
                {% else %}
                    {{result.undl_link}}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}