{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div id="apiData" class="col-12">
        <div class="row m-2">
            <span id="caption" class="h3 mr-2">{{duty_station}}: Symbols with files released on {{ date }} ({{data|length}})</span>
            <form class="form-inline" id="filterForm">
                <label for="filter">Filter these results: </label>
                <input class="form-control m-2" type="text" id="filter" name="filter">
                <span id="message">As filtered: {{data|length}}</span>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-striped" id="releaseTable">
                <thead>
                    <tr>
                        <th scope="col">Symbol1</th>
                        <th scope="col">Symbol2</th>
                        <th scope="col">Title</th>
                        <th scope="col">Files</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                    <tr>
                        <td>{{data[row].symbol1}}</td>
                        <td>{{data[row].symbol2}}</td>
                        <td>{{data[row].title}}</td>
                        <td>
                            {% for f in data[row].files %}
                                <span class="badge bg-secondary">{{f.languageId}}: {{f.odsNo}}</span>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#releaseTable').tablesorter();
        $('#filterForm').submit(function (e) {
            e.preventDefault();
        });
        $('#filter').on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $('#releaseTable tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            var rows = $('#releaseTable tbody tr:visible').length;
            $('#message').text("As filtered: " + rows);
        });
    });
    $(function() {
        $('input[name="date"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minYear: 1901,
            maxYear: parseInt(moment().format('YYYY'),10),
            locale: {
                format: 'YYYY-MM-DD'
            },
            startDate: '{{date}}'
        });
    });

</script>

{% endblock content %}