{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>{{ results.symbol }}</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ results.metadata.title }}</h5>
          <table id="releaseTable" class="table table-striped tablesorter">
              <thead>
                  <tr>
                      <th>Checksum</th>
                      <th>Language</th>
                      <th>Job Number</th>
                      <th>Released/Embargo</th>
                  </tr>
              </thead>
              <tbody>
                  {% for f in results.files|sort(attribute='languageId')|sort(attribute='embargo') %}
                  <tr>
                      <td class="s3link" id="{{f.checksum}}">{{f.checksum}}</td>
                      <td>{{f.languageId}}</td>
                      <td>{{f.odsNo}}</td>
                      <td><a href="{{deploy_context}}date?date={{ f.embargo }}">{{f.embargo}}</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
</div>
<script>
    $('td.s3link').each(function(){
        var checksum = $(this).text();
        $.getJSON("{{deploy_context}}s3resolve?checksum=" + checksum, function(data) {
            if(data['url']) {
                $('td#' + checksum).html('<a href="' + data['url'] + '">' + checksum + '</a>');
            }
        });
    });
</script>
{% endblock %}