{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>{{ results.symbol }}</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ results.metadata.title }}</h5>
          <table id="releaseTable" class="table table-striped tablesorter">
              <thead>
                  <tr>
                      <th>Checksum</th>
                      <th>Language</th>
                      <th>Job Number</th>
                      <th>Released/Embargo</th>
                  </tr>
              </thead>
              <tbody>
                  {% for f in results.files|sort(attribute='languageId')|sort(attribute='embargo') %}
                  <tr>
                      <td><a href="https://s3.amazonaws.com/undl-files/{{f.checksum}}">{{f.checksum}}</a></td>
                      <td>{{f.languageId}}</td>
                      <td>{{f.odsNo}}</td>
                      <td><a href="{{deploy_context}}date?date={{ f.embargo }}">{{f.embargo}}</a></td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
    </div>
</div>
{% endblock %}